*

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */
.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
    background-color: #111;
    /* Hanya warna latar belakang */
    overflow-x: hidden;
    touch-action: manipulation;
    /* Mencegah scroll horizontal */
}

/* style judul */
.container-beranda {
    position: relative;
    padding: 40px;
    margin-left: 0;
    /* Margin kiri dihilangkan agar tidak ada ruang kosong */
    width: 100vw;
    /* Lebar 100% dari viewport */
    height: 100vh;
    /* Tinggi 100% dari viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Menempatkan judul dan teks di tengah secara vertikal */
    align-items: flex-start;
    /* Menempatkan elemen di sebelah kiri */
    background-image: linear-gradient(to top, #111, rgba(0, 0, 0, 0)), url('images/highlandtrail.jpg');
    background-size: cover;
    /* Agar background menutupi seluruh area */
    background-position: center;
    /* Posisikan background di tengah */
    background-repeat: no-repeat;
    /* Mencegah pengulangan background */
}

section.preview{
    height: 110vh;
}

.judul h1 {
    position: relative;
    font-size: 50px;
    font-family: 'Noto Serif', serif;
    color: #fff;
}

.judul p {
    position: relative;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    bottom: 10px;
}

.bawah {
    background-color: #111;
    /* Warna latar belakang bagian bawah */
    padding: 20px;
    color: #fff;
}

/* style slider */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: absolute;
    inset: 120px 300px 120px 120px;
    background-color: #cccccc54;
    border-radius: 20px;
    box-shadow: 0 2px 50px rgba(116, 116, 116, 0.562);

}

.slider .slides {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    background: var(--img);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 2px 50px rgba(116, 116, 116, 0.562);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.slider .slides:nth-child(1),
.slider .slides:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0);
    background-size: cover;
}

.slider .slides:nth-child(3) {
    left: calc(50% + 500px);
    background-size: cover;
}

.slider .slides:nth-child(4) {
    left: calc(50% + 760px);
    background-size: cover;
}

.slider .slides:nth-child(5) {
    left: calc(50% + 900px);
    background-size: cover;
    opacity: 0;

}

.buttons {
    position: relative;
    transform: translateY(360px);
    display: flex;
    gap: 20px;
    align-items: center;
}

.buttons span {
    position: relative;
    width: 50px;
    height: 50px;
    background: #333333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.buttons span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(315deg) translate(2px, 2px);
}

.buttons span:nth-child(2):before {
    transform: rotate(135deg) translate(2px, 2px);
}

.buttons span:active {
    opacity: 0.5;
}

.content {
    position: relative;
    padding: 40px;
    max-width: 600px;
    transition: 0.25s;
    transition-delay: 0s;
    transform: translateY(40px);
    z-index: 1;
    opacity: 0;
}

.content h2 {
    font-size: 4em;
    color: #fff;
    font-weight: 500;
    font-family: 'Noto Serif', serif;
}

.content p {
    position: relative;
    color: #fff;
    font-weight: 500;
    bottom: 15px;
    left: 5px;
}

.slider .slides:nth-child(1) .content,
.slider .slides:nth-child(2) .content {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}

/* style map */
#map.banyuwangi-map {
    height: 100vh;
    width: 100%;
}

.banyuwangi-map svg {
    position: relative;
    width: 500px;
    height: 500px;
    left: 16%;
}

path {
    fill: #443d4b;
    stroke: #dcbfff;
    transition: fill 100ms ease-in-out;
}

path:hover {
    fill: #c99aff;
    cursor: pointer;
}


.judul-peta h1 {
    color: #ffc400;
    text-align:center;
    /* Warna judul */
    font-size: 70px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.info-card {
    padding: 20px;
    background-color: rgba(68, 61, 75, 0.368);
    box-shadow: 0 4px 8px rgba(178, 178, 178, 0.2);
    border-radius: 15px;
    max-width: 600px;
    color: #fff;
    transition: opacity 0.3s ease, transform 0.3s ease;
    top: 70%; /* Menempatkan di tengah horizontal */
    z-index: 1; /* Memastikan berada di atas elemen lain */
}

#closeCardBtn {
    background-color: #ff5c5c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    /* Memungkinkan posisi absolut di dalam .info-card */
    top: 20px;
    /* Jarak dari sisi atas info-card */
    right: 20px;
    /* Jarak dari sisi kanan info-card */
}

#closeCardBtn i {
    font-size: 18px;
}

#closeCardBtn:hover {
    background-color: #bc2525;
}

.info-card h1 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.info-card h4 {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info-card ul {
    list-style-type: none;
    padding: 0;
}

.info-card ul li {
    margin-bottom: 15px;
}

#googleMapsBtn {
    background-color: #4CAF50;
    /* Warna latar belakang tombol */
    color: white;
    /* Warna teks tombol */
    padding: 10px 20px;
    /* Padding di dalam tombol */
    border: none;
    /* Menghilangkan border */
    border-radius: 5px;
    /* Membuat sudut tombol membulat */
    cursor: pointer;
    /* Mengubah kursor menjadi pointer */
    font-size: 16px;
    /* Ukuran teks tombol */
    display: inline-flex;
    /* Mengatur tombol sebagai flexbox agar ikon dan teks sejajar */
    align-items: center;
    /* Menyelaraskan ikon dengan teks */
    transition: background-color 0.3s ease;
    /* Animasi transisi saat hover */
}

#googleMapsBtn i {
    margin-right: 8px;
    /* Spasi antara ikon dan teks */
    font-size: 18px;
    /* Ukuran ikon */
}

#googleMapsBtn:hover {
    background-color: #017507;
    /* Warna latar belakang saat hover */
}


/* style seni */

.wrapper {
    padding: 10px 10%;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.wrapper h1 {
    font-size: 30px;
    margin: 20px 0;
    font-weight: 800;
    color: #ffc400; /* Warna judul */
}

#card-area {
    padding: 50px 0;
    position: relative;
}

.box-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tiga kolom */
    grid-template-rows: repeat(4, 200px); /* Empat baris */
    grid-gap: 20px; /* Hapus jarak antar box */
    margin-top: 70px;
}

/* Variasi Box */
/* Box Besar */
.box-large {
    grid-column: span 2; /* Menggunakan 2 kolom */
    grid-row: span 2; /* Mengisi 2 baris */
    height: 100%; /* Set height */
    background-color: #ffc400; /* Warna untuk visualisasi */
}

/* Box Sedang */
.box-medium {
    grid-column: span 1; /* Memperpanjang 1 kolom */
    grid-row: span 2; /* Mengisi 2 baris */
    height: 100%; /* Set height */
}

/* Box Kecil */
.box-small {
    grid-column: span 1; /* Memperpanjang 1 kolom */
    grid-row: span 1; /* Mengisi 1 baris */
    height: 100%; /* Set height */
}

/* Box Lebar */
.box-wide {
    grid-column: span 2; /* Memperpanjang 2 kolom */
    grid-row: span 1; /* Mengisi 1 baris */
    height: 100%; /* Set height */
}

/* BOX LANDSCAPE */
.box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

/* BOX PORTRAIT */
.box img {
    width: 100%;
    height: 100%; /* Mengatur tinggi otomatis untuk gambar */
    display: block;
    object-fit: cover; /* Memastikan gambar memenuhi kotak */
    transition: transform 0.5s;
}

/* Overlay */
.overlay {
    width: 100%;
    height: 0;
    background: linear-gradient(transparent, #1c1c1c 60%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: height 0.5s;
}

.overlay h3 {
    font-weight: 800;
    margin: 10px 0;
    font-size: 24px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.overlay p {
    margin: 5px 0;
    font-size: 14px;
}

.overlay a {
    margin-top: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 5px 15px;
    margin-bottom: 20px;
}

/* Hover Effects */
.box:hover img {
    transform: scale(1.1);
}

.box:hover .overlay {
    height: 100%;
}

/* Menyesuaikan overlay untuk box-medium */
.box-medium .overlay h3 {
    font-size: 22px; /* Ukuran font untuk judul */
    margin-top: 5%; /* Sesuaikan margin atas */
}

.box-medium .overlay p {
    font-size: 12px; /* Ukuran font untuk deskripsi */
    margin: 5px 10px; /* Sesuaikan margin */
}

.box-medium .overlay a {
    font-size: 12px; /* Ukuran font untuk link */
    padding: 5px 10px; /* Sesuaikan padding */
}

/* style batik */

.container-batik {
    display: flex;
    flex-direction: column;
    /* Menyusun elemen secara vertikal */
    align-items: center;
    /* Pusatkan galeri dan judul */
}

.judul-batik {
    text-align: center;
    /* Pusatkan teks */
    margin-bottom: 30px;
    /* Jarak bawah untuk memisahkan dari galeri */
    padding: 20px;
    /* Tambahkan padding untuk ruang di dalam elemen */
    border-radius: 10px;
    /* Sudut membulat */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Efek bayangan */
}

.judul-batik h1 {
    font-size: 30px; /* Ukuran font besar untuk menonjolkan judul */
    color: var(--first-color); /* Menggunakan warna utama */
    text-align: center; /* Posisikan judul di tengah */
    top: 2rem;
    margin-bottom: 20px; /* Memberikan ruang di bawah judul */
    font-weight: bold; /* Membuat teks tebal */
    text-transform: uppercase; /* Mengubah huruf menjadi kapital */
    letter-spacing: 2px; /* Menambah spasi antar huruf untuk efek estetika */
    position: relative;
    font-family: serif;
  }
  
.judul-batik h1::after {
    content: "";
    display: block;
    width: 100px; /* Lebar garis hiasan */
    height: 4px; /* Tinggi garis hiasan */
    background-color: var(--first-color-alt); /* Warna garis */
    margin: 1rem auto 0 auto; /* Pusatkan garis di bawah judul */
  }

.judul-batik p {
    font-size: 1.2em;
    /* Ukuran font untuk paragraf */
    margin: 0;
    /* Hilangkan margin */
    color: #ffffff;
    /* Warna teks paragraf */
    line-height: 1.5;
    /* Jarak antar baris */
}

.gallery {
    display: grid;
    /* Menggunakan grid untuk tata letak */
    grid-template-columns: repeat(1, 1fr);
    /* Satu kolom */
    grid-template-rows: repeat(3, auto);
    /* Tiga baris vertikal */
    gap: 20px;
    /* Jarak antar card */
    width: 60%;
    /* Atur lebar galeri sesuai kebutuhan */
}

.item {
    display: flex;
    /* Menggunakan flex untuk mengatur gambar dan info */
    flex-direction: row;
    /* Mengatur item menjadi baris */
    align-items: center;
    /* Pusatkan isi item secara vertikal */
    background-color: #ffffff0a;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(116, 116, 116, 0.562);
}

.item img {
    width: 200px;
    /* Lebar gambar */
    height: 200px;
    /* Tinggi gambar */
    margin-right: 20px;
    /* Jarak antara gambar dan teks */
    border-radius: 20px;
}

.info {
    flex: 1;
    /* Membuat info mengambil sisa ruang yang tersedia */
}

.info h3 {
    margin: 0 20px 10px;
    /* Jarak bawah untuk judul informasi */
    font-size: 30px;
    /* Ukuran font untuk judul informasi */
    font-family: Poppins, sans-serif;
    /* Font untuk judul */
    font-weight: 800;
    /* Berat font untuk judul */
    text-align: left;
    /* Pusatkan teks judul */
    color: #fff;
    /* Warna judul informasi */
}

.info p {
    margin: 20px;
    /* Hilangkan margin */
    color: #ffffff;
    /* Warna teks informasi */
}

.info-card {
    position: absolute;
    align-self: center;
    top: 80%;
    left:50%;
    right: 0;
    margin: 10px;
    /* Margin di kiri dan kanan untuk memberi ruang */
    width: 70%;
    height: 12%;
    padding: 15px;
}



/* tampilan mobile */

@media (max-width: 1024px) {
    .container-beranda {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    
    .judul {
        text-align: center;
    }

    .slider {
        inset: 60px 20px 60px 20px;
        /* Memperkecil slider agar lebih pas */
    }
    .slider .slides {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 220px;
        height: 300px;
        background: var(--img);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        transition: 0.5s;
        box-shadow: 0 2px 50px rgba(116, 116, 116, 0.562);
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .judul h1 {
        font-size: 40px;
        /* Mengurangi ukuran font judul */
    }

    .judul p {
        font-size: 18px;
        /* Mengurangi ukuran font paragraf */
    }

    .slider {
        inset: 60px 150px 60px 60px;
        /* Memperkecil slider */
    }

    .slider .slides {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 240px;
        height: 320px;
        background: var(--img);
        background-position: center;
        background-size: cover;
        border-radius: 20px;
        transition: 0.5s;
        box-shadow: 0 2px 50px rgba(116, 116, 116, 0.562);
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .buttons {
        transform: translateY(300px);

        /* Menggeser tombol */
    }

    .judul-peta {
        left: 0;
        /* Menempatkan judul peta di tengah */
        right: 0;
        /* Menempatkan judul peta di tengah */
        bottom: 200px;
        /* Menggeser posisi judul peta */
        font-size: 40px;
        /* Mengurangi ukuran font */
        text-align: center;
        /* Agar teks di tengah */
    }
    .banyuwangi-map svg {
        width: 480px;
        left: 100px;
    }
    
}

@media (max-width: 768px) {
    .container-beranda {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }
    .judul {
        text-align: center;
    /* Agar teks berada di tengah */
    }

    .judul h1 {
        font-size: 30px;
        /* Ukuran font yang lebih kecil */
    }

    .judul p {
        font-size: 16px;
        bottom: 0;
        /* Menghapus margin bawah */
    }

    .item {
        display: flex;
        /* Menggunakan flex untuk mengatur gambar dan info */
        flex-direction: column;
        justify-content: center;
        /* Mengatur item menjadi baris */
        align-items: center;
        /* Pusatkan isi item secara vertikal */
        background-color: #ffffff0a;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(116, 116, 116, 0.562);
    }
    .item h3{
        text-align: center;
    }
    .item p{
        text-align: justify;
    }

    .slider {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        inset: 40px 20px 40px 20px;
        /* Memperkecil slider */
    }

    
    .slider .slides {
        width: 110px;
        height: 200px;
        background: var(--img);
        background-position: center;
        background-size: cover;
        transition: 0.5s;
        box-shadow: 0 2px 50px rgba(116, 116, 116, 0.562);
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .buttons {
        transform: translateY(250px);
        transform: translateZ(100px);
        width: 100%;
        display: flex;
        gap: 460px;
    }
    .banyuwangi-map svg {
        width: 480px;
        left: 100px;
    }
    .info-card {
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        margin: 0 10px;
        /* Margin di kiri dan kanan untuk memberi ruang */
        max-width: 100%;
        height: 8%;
        padding: 15px;
    }

    .judul-peta h1 {
        color: #ffc400;
        text-align:center;
        /* Warna judul */
        font-size: 50px;
        font-weight: 500;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
   
}

@media (max-width: 560px) {
    .container-beranda {
        position: relative;
        width: 100vw;
        height: 59vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }
    .judul {
        text-align: center;
    }

    .judul-peta h1 {
        color: #ffc400;
        text-align:center;
        /* Warna judul */
        font-size: 40px;
        font-weight: 300;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .judul p {
        bottom: 0;
        /* Menghapus margin bawah */
    }

    .slider {
        inset: 20px 20px 20px 20px;
        /* Memperkecil slider */
    }

    .buttons {
        transform: translateY(250px);
        transform: translateZ(100px);
        width: 100%;
        display: flex;
        gap: 300px;
    }

    .info-card {
        position: absolute;
        align-self: center;
        top: 85%;
        left: 0;
        right: 0;
        /* Margin di kiri dan kanan untuk memberi ruang */
        width: 90%;
        height: 8%;
        padding: 15px;
    }

    .judul-peta {
        left: 20px;
        bottom: 150px;
        font-size: 40px;
    }

    .banyuwangi-map svg {
        width: 400px;
        left: 40px;
    }
}

@media (max-width: 460px) {
.info-card {
    position: absolute;
    align-self: center;
    top: 80%;
    left: 0;    
    right: 0;
    margin: 0 10px;
    /* Margin di kiri dan kanan untuk memberi ruang */
    max-width: 100%;
    min-height: 8%;
    padding: 15px;
}
.banyuwangi-map svg {
    width: 400px;
    left: 30px;
}
}